/*Challenge 1 - create a mixin and use it*/
@mixin box($size, $background-color) {
    width: $size;
    height: $size / 2;
}

.box {
    @include box(200px, #bada55)
}

/*Challenge 2 - create a container for each*/
/*color using a loop*/

$colors: #aaa, #bbb, #ccc, #ddd;

@each $color in $colors {
    $i: index($colors, $color);
    .container-#{$i} {
        background-color: $color;
    }
}

/*Callenge 3 - create a placeholder */
/* %border is the placeholder */

%border {
    border: 1px solid #000;
    border-radius: 10px;
}

.container {
    width: 1280px;
    background-color: #fff;
    margin: 0 auto;
    @extend %border;
}

.wrapper {
    float: left;
    position: relative;
    @extend %border;
}

.item {
    font-size: 14px;
    font-family: "Sans Pro", sans-serif;
    font-weight: 700;
    @extend %border;
}

/*Challenge 4 - change the color of all anchor elements*/
/*that are UL, class listRight and a child of container*/

.container {
    .listRight {
        a {
          &:hover {
            color: red;    
          } 
        }
    }
}